[submodule "jquery-el"]
	path = jquery-el
	url = https://github.com/sagittarian/jquery-el.git
[submodule "jquery_jeditable"]
	path = jquery_jeditable
	url = https://github.com/sagittarian/jquery_jeditable.git
[submodule "facebox"]
	path = facebox
	url = https://github.com/defunkt/facebox.git
